body {
  background-color: #fdf8ed;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
}

/* Navigation Bar */
.topnav {
  position: sticky;
  top: 0;
  font-weight: bold;
  width: inherit;
  height: 70px;
  background: #050409;
  color: white;
  margin: 0px;
  margin-bottom: 0px !important;
  padding: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.dropdown a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.frontpg {
  color: white;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.active {
  background: #402820;
}

.topnav p {
  flex: 1 0 0%;
}

.topnav h1 {
  margin: 0px;
  margin-bottom: 0 !important;
  flex: none;
  font-size: 20px;
  padding-left: 10px;
}

.topnav label,
#checkbox {
  display: none;
  background-color: black;
  font-size: 30px;
  color: #f6a667;
  border: none;
  padding: 0;
  margin-right: 20px;
}

.dropdown {
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 0 !important;
  padding: 30px 5px;
  position: relative;
  z-index: 1;
}

.dropdown a:hover {
  background-color: #f6a667;
  color: white;
}

.logo {
  height: 60px;
  padding: 5px 10px;
}

/* This is for the giant cat picture */
.header {
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #050409;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.carouselContainer {
  margin: 0px;
  padding: 25px 0px;
  height: 400px;
  width: 100%;
  display: grid;
  place-items: center;
}

.carousel {
  width: 100%;
  max-width: 400px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.pic {
  width: 100%;
  max-width: 400px;
  height: 100%;
  position: absolute;
  box-shadow: 0 0 10px 10px #050409 inset;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.pic.visible {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#socialmedia {
  position: absolute;
  left: 40px;
  bottom: 30px;
}

#socialmedia img {
  padding: 10px;
}

/* Mid section */
.midsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

/* button */
#booking {
  color: white;
  background-color: #e97800;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  align-self: center;
  margin-top: 3rem;
  padding: 0.75rem 1.25rem;
  border: 1px;
  border-radius: 10rem;
}

#booking:hover {
  background-color: #b96102;
}

.quote {
  margin: 0;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* final section */
.sliderContainer {
  margin: 0px;
  padding: 25px 0px;
  height: 350px;
  display: grid;
  place-items: center;
}

.slider {
  width: 100%;
  max-width: 900px;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.slide {
  width: 100%;
  max-width: 900px;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.8);
  font-size: 18px;
  color: #f6a667;
}
.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

/* upcoming events */

.title {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  position: relative;
  width: fit-content;
  text-decoration: underline;
  z-index: 0;
}

.title::before {
  height: 5px;
  position: absolute;
  background: #f6a667;
  content: "";
  width: 100%;
  bottom: 0px;
  z-index: -1;
  transition: transform 0.1s ease 0s;
  transform: skew(-40deg) rotate(-2deg) scaleX(1.05);
}

.eventscards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 2rem;
}

.card {
  background: hsla(0, 0%, 100%, 0.8);
  padding: 1rem;
  border-radius: 5px;
  line-height: 1.5;
}

.card p {
  color: rgb(84, 84, 84);
}

.cardimgcontainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.cardimgcontainer img {
  height: 300px;
}

/* footer */
.footer {
  background: #8f9bc1;
  color: white;
  height: 250px;
  margin: 0px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#info {
  margin: 0;
  padding: 30px;
}

#info h1 {
  padding-bottom: 10px;
  text-align: left;
}

.social_media_info {
  align-self: center;
  transition: all;
}

.social_media_info a {
  text-decoration: none;
  letter-spacing: 10px;
  color: #fff;
  font-size: 30px;
}

.fa-facebook:hover {
  color: #1877f2;
}

.fa-instagram:hover {
  color: #dd2a7b;
}

.fa-twitter:hover {
  color: #00acee;
}

.icon img {
  padding: 30px;
  height: 200px;
  width: auto;
}

#catpower {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0;
  background-color: black;
}
#catpower p {
  font-size: 10px;
  padding: 10px;
  margin: 0;
  color: white;
}

#phone:hover,
#local:hover,
#email:hover {
  color: #f6a667;
}

@media screen and (max-width: 650px) {
  body {
    margin: 0px;
    padding: 0px;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    top: 67px;
    right: 20px;
    max-height: 0px;
    margin: 0;
    padding: 0px;
    color: #eee;
    transition: max-height 0.5s ease-out;
  }

  .dropdown:hover {
    padding: 0px;
  }

  .dropdown a {
    background: #402820;
    max-height: 14px;
  }

  .topnav label {
    size: 40px;
    padding: 0px 8px;
    float: right;
    display: block;
    right: 30px;
  }

  label:hover,
  input:checked ~ label {
    background-color: #402820;
  }

  #checkbox:checked ~ .dropdown {
    /* display: block; */
    max-height: 200px;
    transition: max-height 0.5s ease-in;
  }

  .topnav h1 {
    font-size: 20px;
  }

  .header {
    height: 350px;
  }

  #socialmedia {
    position: absolute;
    left: 20px;
    bottom: 10px;
  }

  #socialmedia img {
    height: 35px;
    padding: 2px;
  }

  .icon img {
    height: 120px;
    padding: 10px;
  }

  .footer {
    height: 250px;
  }

  .social_media_info {
    display: none;
  }
}
