body {
  background-color: #fdf8ed;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
}

.topnav {
  position: sticky;
  top: 0;
  font-weight: bold;
  width: inherit;
  height: 70px;
  background: #050409;
  color: white;
  margin: 0px;
  margin-bottom: 0px !important;
  padding: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.dropdown a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.frontpg {
  color: #eee;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
  text-decoration-style: initial;
  text-decoration-thickness: 3px;
  text-decoration-color: #f6a667;
}

.topnav p {
  flex: 1 0 0%;
}

.topnav h1 {
  margin: 0px;
  margin-bottom: 0 !important;
  flex: none;
  font-size: 20px;
  padding-left: 10px;
}

.topnav label,
#checkbox {
  display: none;
  background-color: black;
  font-size: 30px;
  color: #f6a667;
  border: none;
  padding: 0;
  margin-right: 20px;
}

.dropdown {
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 0 !important;
  position: relative;
  z-index: 1;
  padding: 30px 5px;
}

.dropdown a:hover {
  background-color: #f6a667;
  color: white;
}

.logo {
  height: 60px;
  padding: 5px 10px;
}

/* midsection */
.title {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  position: relative;
  width: fit-content;
  text-decoration: underline;
  z-index: 0;
}

.title::before {
  height: 5px;
  position: absolute;
  background: #f6a667;
  content: "";
  width: 100%;
  bottom: 10px;
  z-index: -1;
  transition: transform 0.1s ease 0s;
  transform: skew(-40deg) rotate(-2deg) scaleX(1.05);
}

/* footer */
.footer {
  background: #8f9bc1;
  color: white;
  height: 250px;
  margin: 0px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#info {
  margin: 0;
  padding: 30px;
}

#info h1 {
  padding-bottom: 10px;
  text-align: left;
}

.social_media_info {
  align-self: center;
  transition: all;
}

.social_media_info a {
  text-decoration: none;
  letter-spacing: 10px;
  color: #fff;
  font-size: 30px;
}

.fa-facebook:hover {
  color: #1877f2;
}

.fa-instagram:hover {
  color: #dd2a7b;
}

.fa-twitter:hover {
  color: #00acee;
}

.icon img {
  padding: 30px;
  height: 200px;
  width: auto;
}

#goat {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0;
  background-color: black;
}
#goat p {
  font-size: 10px;
  padding: 10px;
  margin: 0;
  color: white;
}

#phone:hover,
#local:hover,
#email:hover {
  color: #f6a667;
}

@media screen and (max-width: 650px) {
  body {
    margin: 0px;
    padding: 0px;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    top: 55px;
    right: 20px;
    max-height: 0px;
    margin: 0;
    padding: 0px;
    color: #eee;
    transition: max-height 0.5s ease-out;
  }

  .dropdown:hover {
    padding: 0px;
  }

  .dropdown a {
    background: hsla(15, 33%, 19%, 1);
    max-height: 14px;
  }

  .topnav label {
    size: 40px;
    padding: 0px 8px;
    float: right;
    display: block;
    right: 30px;
  }

  label:hover,
  input:checked ~ label {
    background-color: hsl(15, 33%, 19%);
  }

  #checkbox:checked ~ .dropdown {
    /* display: block; */
    max-height: 200px;
    transition: max-height 0.5s ease-in;
  }

  .topnav h1 {
    font-size: 20px;
  }

  .icon img {
    height: 120px;
    padding: 10px;
  }

  .footer {
    height: 250px;
  }

  .social_media_info {
    display: none;
  }
}
